<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290614223192-jin9nqqiroakohap74vbi8e5dfvl2ats.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290614223192-jin9nqqiroakohap74vbi8e5dfvl2ats</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>290614223192-9fq9k5rt5lbmbfeii0sspc22342720v8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcKTQ8fNe_W5KnfUayxvjhZf2AdM8RBug</string>
	<key>GCM_SENDER_ID</key>
	<string>290614223192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amz.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b2e9b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b2e9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290614223192:ios:00f2f3629a833bef5e452d</string>
</dict>
</plist>